{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "es5",
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "server/**/*.php",
      "options": {
        "parser": "php",
        "tabWidth": 4,
        "phpVersion": "7.4"
      }
    },
    {
      "files": [
        "client/src/**/*.js",
        "client/src/**/*.jsx",
        "client/src/**/*.ts",
        "client/src/**/*.tsx"
      ],
      "options": {
        "parser": "babel",
        "jsxSingleQuote": false
      }
    }
  ]
}
